.header {
    height: 150px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo {
    object-fit: contain;
    margin: 0 30px;
    height: 150px;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 5px;
    margin-left: 100px;
}

.header_input {
    height: 30px;
    padding: 10px;
    border: none;
    width: 100%;
}

.search-icon {
    padding: 1px;
    height: 30px !important;
    background-color: white;
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header_optionOne {
    font-size: 10px;
}

.header_optionTwo {
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket {
    display: flex;
    align-items: center;
    color: #FFE4C4;
}

.header_basketCount {
    margin-left: 10px;
    margin-right: 10px;
}